.input-field {
	&__after {
		width: max-content;
		display: flex;
		justify-content: center;
		align-items: center;

		i {
			font-size: 2.2rem;
			color: var(--text-primary-darken100);
		}
	}

	&__before {
		margin-left: 0.8em;
	}

	&__after {
		position: absolute;
		top: 50%;
		right: 0.8em;
		transform: translateY(-50%);
	}

	&.field-error {
		border: 2px solid #ff6681;
		animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;

		@keyframes shake {
			10%,
			90% {
				transform: translate3d(-1px, 0, 0);
			}

			20%,
			80% {
				transform: translate3d(2px, 0, 0);
			}

			30%,
			50%,
			70% {
				transform: translate3d(-2px, 0, 0);
			}

			40%,
			60% {
				transform: translate3d(2px, 0, 0);
			}
		}

		.input-field__label {
			color: #ff6681;
		}

		.input-field__icon {
			display: block;
			color: #ff6681;
			animation: show 0.3s linear 1;
		}
	}

	&__icon {
		&--password {
			display: block;
			color: var(--text-primary-darken100);
			transition: color 0.3s;
			cursor: pointer;

			&:hover {
				color: var(--text-primary-darken50);
			}
		}

		&--error {
			display: none;
		}

		&--after {
			color: var(--text-primary-darken100);
		}
	}

	@keyframes show {
		0% {
			opacity: 0;
			scale: 0;
		}
		60% {
			opacity: 1;
			scale: 1.2;
		}
		80% {
			opacity: 1;
			scale: 0.8;
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
}
