.blob {
	position: absolute;
	border-radius: 9999px;
	user-select: none;
	pointer-events: none;
	z-index: -50;
}

.blob-hero-image {
	background: linear-gradient(8.36deg, rgba(100, 0, 255, 0.2) 7.82%, rgba(95, 30, 222, 0.2) 92.11%);
	filter: blur(120px);
}

.blob-website-pros {
	background: linear-gradient(156.65deg, rgb(67, 20, 73, 0.6) 8.59%, rgb(43, 17, 69, 0.7) 71.63%);
	filter: blur(90px);
}

.blob-our-advantages-1 {
	width: 599.25px;
	height: 592px;
	background: linear-gradient(125.33deg, rgba(117, 0, 255, 0.3) 13.71%, rgba(48, 0, 155, 0.3) 89.79%);
	filter: blur(160px);
}
.blob-our-advantages-2 {
	background: #444cf7;
	filter: blur(154px);
}

.blob-portfolio-text {
	background: linear-gradient(180deg, rgba(20, 7, 57, 0.5) 0%, rgba(35, 15, 79, 0.5) 100%);
	filter: blur(119px);
}

.blob-testimonials-1 {
	background: linear-gradient(8.36deg, rgba(51, 0, 255, 0.2) 7.82%, rgba(95, 30, 222, 0.2) 92.11%);
	filter: blur(119px);
}
.blob-testimonials-2 {
	background: linear-gradient(96.77deg, rgba(57, 40, 88, 0.3) 15.14%, #5608ee 72.79%);
	filter: blur(153px);
}
.blob-testimonials-3 {
	background: linear-gradient(83.39deg, rgba(50, 15, 150, 0.58) 16.62%, rgba(72, 18, 226, 0.8) 72.07%);
	filter: blur(212px);
	transform: rotate(26.4deg);
}

.blob-faq-1 {
	background: linear-gradient(125.33deg, rgba(117, 0, 255, 0.15) 13.71%, rgba(48, 0, 155, 0.15) 89.79%);
	filter: blur(160px);
}

.blob-contact-1 {
	background: linear-gradient(141.78deg, rgba(50, 15, 150, 0.1) -21.15%, rgba(72, 18, 226, 0.1) 81.27%);
	filter: blur(136px);
}
.blob-contact-2 {
	background: linear-gradient(137.61deg, rgba(44, 0, 219, 0.2) 16.9%, rgba(72, 18, 226, 0.2) 77.75%);
	filter: blur(136px);
}
.blob-contact-3 {
	background: linear-gradient(
		215.55deg,
		rgba(189, 0, 255, 0.2) 20.84%,
		rgba(105, 13, 228, 0) 71.48%,
		rgba(53, 8, 69, 0.1) 71.48%
	);
	filter: blur(136px);
}

/* About us page */

.blob-header {
	background: linear-gradient(38.14deg, rgba(40, 21, 96, 0.5) 35.92%, rgba(143, 0, 255, 0.5) 71.67%);
	filter: blur(120px);
}

.blob-marquees {
	background: radial-gradient(70.63% 70.63% at 51.45% 45.82%, rgba(66, 0, 255, 0.5) 0%, rgba(99, 0, 115, 0.5) 83.89%);
	filter: blur(203px);
}

.blob-team-members {
	background: linear-gradient(119.67deg, rgba(67, 40, 231, 0.4) 13.85%, rgba(204, 28, 233, 0.4) 101.87%);
	filter: blur(136px);
}

.blob-quote-section-1 {
	background: rgba(79, 48, 168, 0.4);
	filter: blur(150px);
}

.blob-quote-section-2 {
	background: rgba(178, 11, 255, 0.2);
	filter: blur(150px);
}
