@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: theme(colors.dark.700) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1em;
}

.thin-scrollbar::-webkit-scrollbar {
	width: 0.6em;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
	border: 3px solid transparent;
}

*::-webkit-scrollbar-track {
	border-radius: 100vw;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: theme(colors.dark.700);
	border-radius: 9999px;
	border: 5px solid transparent;
	background-clip: padding-box;
}

html {
	min-height: 100%;
	height: 100%;
	font-family: var(--font-source-sans-pro), sans-serif;
	background-color: theme(colors.background);
}

body {
	min-height: 100vh;
	width: 100%;
	color: #ff0000;
	overflow-x: hidden;
	overflow-y: overlay;
}

@layer components {
	.wrapper {
		max-width: calc(100vw - 4rem);
		width: 100%;
		margin: 0 auto;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 6rem);
		}
	}
	@screen md {
		.wrapper {
			max-width: calc(100vw - 8rem);
		}
	}

	@screen xl {
		.wrapper {
			max-width: calc(100vw - 14rem);
		}
	}

	@screen 3xl {
		.wrapper {
			max-width: 1280px;
		}
	}

	.gradient-wave {
		@apply hover:animate-gradient-wave;
	}

	/* https://github.com/pmndrs/react-spring/issues/609 */
	.parallax-remove-scrollbar {
		-webkit-scrollbar-display: none !important;
		scrollbar-width: 0 !important;
		overflow: hidden !important;
	}
}
@layer utilities {
	.section-margin {
		@apply my-10;
	}

	.overflow-overlay {
		overflow: overlay;
	}
	.overflow-x-overlay {
		overflow-x: overlay;
	}
	.overflow-y-overlay {
		overflow-y: overlay;
	}

	.text-gradient {
		@apply bg-gradient-brand bg-clip-text text-transparent;
	}
}

.swiper .swiper-wrapper .swiper-slide {
	height: auto;
}
.blob {
	position: absolute;
	border-radius: 9999px;
	z-index: -50;
}

.blob-our-advantages-1 {
	width: 599.25px;
	height: 592px;
	background: linear-gradient(125.33deg, rgba(117, 0, 255, 0.3) 13.71%, rgba(48, 0, 155, 0.3) 89.79%);
	filter: blur(160px);
}
.gradient-blob-2 {
	background: linear-gradient(8.36deg, rgba(100, 0, 255, 0.2) 7.82%, rgba(95, 30, 222, 0.2) 92.11%);
	filter: blur(120px);
}

.blob-website-pros {
	background: linear-gradient(156.65deg, rgb(67, 20, 73, 0.6) 8.59%, rgb(43, 17, 69, 0.7) 71.63%);
	filter: blur(90px);
}

.blob-our-advantages-2 {
	background: #444cf7;
	filter: blur(154px);
}
