@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: theme(colors.dark.700) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 1em;
}

.thin-scrollbar::-webkit-scrollbar {
	width: 0.6em;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
	border: 3px solid transparent;
}

*::-webkit-scrollbar-track {
	border-radius: 100vw;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: theme(colors.dark.700);
	border-radius: 9999px;
	border: 5px solid transparent;
	background-clip: padding-box;
}

html {
	min-height: 100%;
	height: 100%;
	font-family: var(--font-source-sans-pro), sans-serif;
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: theme(colors.background);
	color: #ff0000;
	overflow-x: hidden;
	overflow-y: overlay;
}

@layer components {
	.wrapper {
		max-width: calc(100vw - 4rem);
		width: 100%;
		margin: 0 auto;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 6rem);
		}
	}
	@screen md {
		.wrapper {
			max-width: calc(100vw - 8rem);
		}
	}

	@screen xl {
		.wrapper {
			max-width: calc(100vw - 14rem);
		}
	}

	@screen 3xl {
		.wrapper {
			max-width: 1200px;
		}
	}

	.gradient-wave {
		@apply hover:animate-gradient-wave;
	}

	/* https://github.com/pmndrs/react-spring/issues/609 */
	.parallax-remove-scrollbar {
		-webkit-scrollbar-display: none !important;
		scrollbar-width: 0 !important;
		overflow: hidden !important;
	}
}
@layer utilities {
	.section-margin {
		@apply my-10;
	}

	.overflow-overlay {
		overflow: overlay;
	}
	.overflow-x-overlay {
		overflow-x: overlay;
	}
	.overflow-y-overlay {
		overflow-y: overlay;
	}
}

.swiper .swiper-wrapper .swiper-slide {
	height: auto;
}
