.main-cursor,
.secondary-cursor {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000;
	pointer-events: none;
}

.secondary-cursor {
	--size: 34px;
	width: var(--size);
	height: var(--size);
	margin: calc(var(--size) / -2);
	border-radius: 9999px;
	border: 1px solid theme(colors.dark.700);
}

.secondary-cursor.inverted {
	background-color: transparent;
	backdrop-filter: invert(1);
}

.main-cursor {
	--size: 8px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	margin: calc(var(--size) / -2);
	border: 1px solid theme(colors.dark.700);
	background-color: #fff;
	mix-blend-mode: difference;
}

.link .secondary-cursor {
	--size: 50px;
	backdrop-filter: invert(1);
}

.colapse {
	animation: cursorColapse 0.5s forwards;
}

.un-colapse {
	animation: cursorUnColapse 0.5s forwards;
}

@keyframes cursorColapse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes cursorUnColapse {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
